# ignore .vscode files
.vscode

# ignore dataset files
*.jpg
*.json

# Folders
Titanic/datasets/gender_submission.csv
Titanic/datasets/test.csv
Titanic/datasets/train.csv
Benetech-MakingGraphsAccessible/datasets/sample_submission.csv
Benetech-MakingGraphsAccessible/datasets/train/train.csv