# ignore .vscode files
.vscode

# Pycache and compiled python files
__pychache__/
*py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# ignore dataset files
*.jpg
*.json
*.pkl

# Folders
Titanic/datasets/gender_submission.csv
Titanic/datasets/test.csv
Titanic/datasets/train.csv
Benetech-MakingGraphsAccessible/datasets/sample_submission.csv
Benetech-MakingGraphsAccessible/datasets/train/train.csv
